---
import "@/src/styles/global.css";

const {
  title,
  description = "A collection of powerful and underused HTML elements. Discover hidden HTML elements that can supercharge your web projects. Explore, learn, and get inspired by practical examples and code snippets.",
  image = "/images/index.webp",
  url = "https://html-gems-uncovered.netlify.app/",
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/webp" href="/images/icon.webp" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta
      name="keywords"
      content="HTML, HTML elements, web development, accessibility, semantic HTML, code snippets, web components, frontend, UI, Astro, TailwindCSS"
    />
    <link rel="canonical" href={url} />
    <!-- Open Graph -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={url} />
    <meta property="og:image" content={image} />
    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image} />
  </head>
  <body class="bg-theme-primary text-theme-text">
    <main class="container mx-auto px-4 py-8">
      <slot />
    </main>
  </body>
</html>
